@charset "utf-8";

@media(max-width: 1920px){
	#wrapper{
		width: 100%;
		margin: 0 auto;
	}
}

@media(max-width: 1140px){
	#wrapper{
		max-width: 100%;
	}
	.header_container{
		width: 100%;
	}
	.header_fix{
		width: 100%;
	}
	.header_fix2{
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.page2{
		width: 100%;
	}
	.page2_wrap{
		width: 100%;
	}
	#page2_modal{
		width: 100%;
	}
	#page2_modal2{
		width: 80%;
		height: 80%;
	}
	iframe{
		width: 100%;
		height: 100%;
	}
	#page2_modalbtn{
		font-size: 35px;
	}
	.page3{
		width: 100%;
	}
	.page3_container{
		width: 100%;
	}
	.page3_container button{
		width: 240px;
		height: 40px;
	}
	.page4{
		width: 100%;
	}
	.page4_container{
		width: 100%;
	}
	.page5{
		width: 100%;
	}
	.page5_container{
		width: 100%;
	}
	.page5_box{
		width: 100%;
	}
	.page5_box1{
		width: 50%;
	}
	.page5_box2{
		width: 50%;
	}
	.page6{
		width: 100%;
	}
	.page6_box{
		width: 100%;
	}
	.page6_box table{
		width: 100%;
	}
	.page7{
		width: 100%;
		height: 700px;
	}
	.page7_container{
		width: 100%;
	}
	.page7_box{
		margin: 0 5px;
		text-align: center;
	}
	footer{
		width: 100%;
		height: 300px;
	}
	.footer{
		width: 100%;
		height: 100%;
		padding: 30px;
	}
	.footleft{
		width: 100%;
		height: 50px;
		float: left;
		display: block;
	}
	.footleft a{
		display: block;
	}
	.footcenter{
		width:100%;
		height: 150px;
		float: left;
		display: block;
	}
	.footcenter a{
		display: inline-block;
	}
	.footcenter p{
		display: block;
	}
	address{
		display: block;
	}
	.footright{
		width: 100%;
		height: 50px;
		display: block;
		float: left;
	}
	.footright a{
		display: inline-block;
	}
	.footright a i{
		padding: 0 0 15px 0;
	}
}

@media(max-width: 520px){
	.header_container{
		width: 90%;
		font-size: 12px;
	}
	.header_container nav{
		display: none;
	}
	.header_fix2{
		width: 90%;
		font-size: 12px;
	}
	.header_fix2 nav{
		display: none;
	}
	.container{
		height: 500px;
	}
	.container > .maintitle p:nth-child(1){
		font-size: 15px;
		margin-bottom: 20px;
	}
	.container > .maintitle p:nth-child(2){
		font-size: 25px;
	}
	.clickbtn button{
		font-size: 30px;
	}
	.page2{
		height: auto;
	}
	.page2_wrap{
		width: 90%;
	}
	.page2_wrap h2{
		font-size: 30px;
	}
	.page2_wrapvideo{
		width: 100%;
	}
	#page2_modal2{
		width: 50%;
		height: 50%;
	}
	#page2_modalbtn{
		font-size: 35px;
	}
	.page3{
		height: 1300px;
	}
	.page3_container{
		text-align: center;
	}
	.page3_container h3{
		font-size: 30px;
	}
	.page3_box{
		width: 100%;
		height: auto;
	}
	.page3_box .core_sub{
		text-align: center;
	}
	
	.page3_container button{
		width: 160px;
		border-radius: 5px;
	}
	.clickbtn2 button{
		font-size: 30px;
	}
	.page5{
		height: 2080px;
		background: none;
	}
	.page5 h4{
		font-size: 30px;
	}
	.page5_container{
		height: 100%;
	}
	.page5_box{
		height: 615px;
	}
	.page5_box1{
		width: 100%;
		display: block;
	}
	.page5_box2{
		width: 100%;
		height: 350px;
		display: block;
	}
	.page5_box .page5_box2 p{
		font-size: 13px;
	}
	.page5_num{
		display: none;
	}
	.page6_container{
		width: 100%;
	}
	.page6_container h5{
		font-size: 30px;
	}
	.page6_box{
		width: 100%;
		padding: 0 20px;
	}
	.page6_box table{
		width: 100%;
	}
	.page6_box table strong{
		font-size: 12px;
	}
	.page7{
		height: 1800px;
	}
	.page7_container{
		display: block;
		height: 100%;
	}
	.page7_box{
		width: 100%;
		height: 600px;
		margin: 0;
	}
	.page7_box1{
		width: 100%;
	}
	.page7_box2{
		width: 90%;
		margin: 0 auto;
	}
	footer{
		height: 300px;
	}
	.footleft a{
		font-size: 16px;
	}
	.footcenter a, .footcenter p,address{
		font-size: 10px;
	}
	.footright a i{
		font-size: 20px;
	}
}
