@charset "utf-8";
@import url('common.css');

header{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px 0 30px;
	z-index: 99;
	min-width: 1240px;
}
.login{
	width: 100%;
	height: 700px;
	padding-top: 100px;
}
.login_box{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #bbb;
}
.login_box h1{
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 40px;
}
.login_box h2{
	display: inline-block;
	margin-left: 20px;
	font-size: 0.8rem;
	color: #bbb;
	cursor: pointer;
	text-align: center;
}
.login_box form{
	width: 100%;
	height: 100%;
}

.login_box input{
	width: 450px;
	height: 40px;
	margin: 20px 0 0 20px;
	display: block;
}

.login_box input::placeholder{
	padding-left: 20px;
	color: #bbb;
}
.one{
	width: 200px;
	height: 50px;
	float: left;
	margin-top: 20px;
}
.login_box input[id="checkBox"]{
	display: none;
}
.border{
	width: 20px;
	height: 20px;
	border: 1px solid #bbb;
	border-radius: 50%;
	display: inline-block;
	margin: 10px 5px 0 20px;
	cursor: pointer;
	position: relative;
}
.border:before{
	content: "";
	display: block;
	width: 3px;
	height: 6px;
	position: absolute;
	top: 25%;
	left: 35%;
	border-right: 3px solid #bbb;
	border-bottom: 3px solid #bbb;
	transform: rotate(45deg);
}
#checkBox:checked ~ .border{
	border: 1px solid #c80a1e;
}
#checkBox:checked ~ .border:before{
	border-right: 3px solid #c80a1e;
	border-bottom: 3px solid #c80a1e;
}
#checkBox:checked ~ .border2{
	color:  #c80a1e;
}

.border2{
	display: inline-block;
	font-size: 0.8rem;
	color: #bbb;
}
.two{
	width: 270px;
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 50px;
}
.formright{
	font-size: 0.8rem;
	display: inline-block;
	cursor: pointer;
	padding: 0 5px;
}

button{
	border: none;
	outline: none;
	width: 240px;
	height: 50px;
	text-align: center;
	display: block;
	margin: 10px auto;
	cursor: pointer;
}
button:hover{
	opacity: 0.9;
}
.btn1{
	background: #c80a1e;
	color: #fff;
}

.btn2{
	background: #fff;
	color: #bbb;
	line-height: 50px;
	border: 1px solid #bbb;
}
.btn2 span{
	float: left;
	width: 40px;
	height: 100%;
	line-height: 50px;
	display: inline-block;
	font-size: 2em;
	font-weight: 900;
	color: #3eaf0e;
	border-right: 1px solid #bbb;
}

.login_box2{
	display: none;
}
.login_check{
	display: block;
}
.box_text{
	font-size: 0.75em;
	color: #bbb;
	padding: 20px;
	display: block;
}
