@charset "utf-8";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Arial","NotoSansKR";
	font-size: 1em;
	font-weight: 300;
}

#wrapper{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

a:link, a:visited{
	text-decoration: none;
	color:black;
}
header{
	width: 100%;
	height: 300px;
	line-height: 60px;
	color: #fff;
}
.header_container{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #fff;
	position: absolute;
	/*z-index: 99999;*/
}
.header_left{
	width: 25%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: space-between;
	float: left;
}
.header_left span{
	display: inline-block;
	padding-left: 30px;
	font-size: 20px;
	font-weight: 600;
}
.header_center{
	width: 50%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: space-between;
	float: left;
}
.header_center a{
	display: inline-block;
	padding:0 15px;
	font-size: 1.2em;
	font-weight: 600;
	color: #fff;
	position: relative;
	text-align: center;
}
.header_center a:after{
	content: "";
	display: block;
	position: absolute;
	top: 88%;
	left: 0;
	width: 0;
	height: 6px;
	background: #fff;
	transform: skew(125deg);
	transition: 0.5s;
}
.header_center a:hover:after{
	width: 90%;
}
.header_right{
	width: 25%;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: space-between;
	float: left;
	cursor: pointer;
}
.header_right a, .header_right span{
	display: inline-block;
	font-weight: 600;
	padding: 0 30px;
	color: #fff;
}
.header_right a{
	padding-right: 30px;
	width: 300px;
	height: 100%;
	position: relative;
	text-align: center;
	transition: 0.5s;
}
.header_right a:hover{
	background: #007ac3;
}
.header_right span{
	font-size: 30px;
}

.header_right_box{
	width: 300px;
	height: 350px;
	/*border: 4px solid red;*/
	color: #fff;
	z-index: 99999;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}
.header_right_box2{
	width: 100%;
	height: 150px;
	border-bottom: 1px solid #bbb;
	background: #007ac3;
}
.header_right_box2 form{
	width: 80%;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
.header_right_box2 input{
	width: 100%;
	height: 100%;
}
.header_right_box2  input[type="text"]{
	padding-left: 20px;
}

.header_right_box2 button{
	border: none;
	outline: none;
	padding: 25px;
	background: none;
	position: absolute;
	right: 0;
	top: 0;
}
.header_right_box3{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #fff;
	border-bottom: 1px dotted #bbb;
}
.header_right_box .header_right_title{
	font-size:13px;
	color: black;
	display: block;
	text-align: left;
}

.header{
	width: 100%;
	height: 300px;
	background: url(pi4.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.header .titleop{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.header .title{
	/*border: 1px solid red;*/
	padding: 60px 30px 20px;
}

.header .title a{
	color:#fff;
	font-weight: 600;
	padding-left: 20px;
}

.header .main {
	text-align: center;
	color:#fff;
	line-height: 80px;
}
.header .main p{
	display: block;
	margin-top: -20px;
}
#container{
	width: 100%;
	height: 230px;
	background: #007AC3;
	padding: 10px;
}

.conbox{
	width: 1200px;
	height: 230px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid red;*/
}

.box1{
	width: 25%;
	color:#fff;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left: 50px;
}

.box1 p{
	font-size: 25px;
	font-weight: 900;
	margin: 35px 10px 0 10px;
}
.box2{
	width: 35%;
	height: 250px;
	color:#fff;
	margin-left: 70px;
	display: inline-block;
	float: left;
	text-align: center;
}

.box2 p{
	font-size: 18px;
	font-weight: 900;
	margin: 25px 0 0 0;
	padding-top: 10px;
	padding-bottom: 15px;

}

.box2 input{
	border: none;
	padding:10px 30px;
}

.box2 input::placeholder{
	color: #bbb;
	font-weight: 600;
}

.box2 button {
	border: none;
	padding: 8.5px 20px;
	color: #555;
	float: left;
	margin-left: 10px;
}

.box2 button:hover{
	text-decoration: underline;
	cursor: pointer;
}
.box3{
	width: 30%;
	height: 250px;
	color:#fff;
	display: inline-block;
	float: left;
	text-align: center;
}

.box3 p{
	font-size: 18px;
	font-weight: 900;
	margin: 25px 0 0 50px;
	padding-top: 10px;
}
.box3 img{
	margin: 25px 0 0 50px;
}

.x{
	position: absolute;
	top: 10px;
	right: 0;
	color: #fff;
	font-size: 30px;
	font-weight: 900;
	cursor: pointer;
}


.mainbox{
	clear: both;
	width: 1100px;
	height: 300px;
	line-height: 50px;
	background: #f1f1f1;
	text-align: center;
	padding-top: 50px;
	margin: 100px auto;
	border-top: 3px solid #007AC3;
	border-bottom: 1px solid #007AC3;
}

.mainbox p{
	font-size: 20px;
	font-weight: 600;
}
.mainbox input{
	border: none;
	width: 300px;
	height: 50px;
	padding-left: 10px;
}

.mainbox input::placeholder{
	color: #007AC3;
	font-weight: 900;
	padding-left: 10px;
}
.mainbox button{
	border: none;
	width: 50px;
	height: 50px;
	background: #fff;
	color: #007AC3;
}

.callbox{
	width: 1100px;
	height: 150px;
	border: 5px solid #eee;
	margin: 50px auto;
}

.call1{
	width: 380px;
	float: left;
	padding: 20px 50px;
	margin-top: 10px;
	margin-right: 20px;
	border-right: 1px solid #eaeaea;
}

.call1 p{
	display: inline-block;
	font-size: 18px;
	font-weight: 900;
}
.call1 span{
	font-size: 35px;
	font-weight: 900;
}

.call2 {
	width: 600px;
	float: left;
	padding:30px;
	font-size: 0.9em;
	font-weight: 600;
	color:#555;
	line-height: 30px;
	/*border: 1px solid red;*/
}

.rockbox{
	clear: both;
	width: 1100px;
	height: 130px;
	margin: 0 auto;
	padding:20px;
	background: #007AC3;
}
.rock1{
	width: 300px;
	color:#fff;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border-right: 1px solid #eaeaea;
	/*border: 1px solid red;*/
}
.rock1 span{
	font-size: 20px;
	font-weight: 900;
	display: inline-block;
	vertical-align: top;
	padding:20px 0;
}

.rock2 {
	width: 550px;
	float: left;
	margin-left: 50px;
}

.rock2 p{
	color:#fff;
	line-height: 30px;
	margin-top: 10px;
	font-weight: 600;
}

.rock3{
	float: left;
	width: 100px;
	margin-top: 60px;
}
.rock3 a{
	color: #fff;
	font-weight: 900;
	font-size: 15px;
}

.rock3:hover{
	text-decoration: underline;
}

.answer{
	clear: both;
	width: 1100px;
	height: 180px;
	margin: 100px auto;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	position: relative;
	/*border: 1px solid red;*/
}
.ans1,.ans2,.ans3{
	float: left;
	margin-top: 60px;
	width: 365px;
	position: relative;
}
.ans1 .borderimg{
	width: 120px;
	height: 60px;
	position: absolute;
	top: 30%;
	left: 0%;
	background:#007AC3;
	z-index: -999;
}

.ans1 .borderimg:before{
	content: "";
	display: block;
	position: absolute;
	top: -40px;
	border-bottom: 40px solid #007AC3;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	z-index: -999;
}
.ans1 .borderimg:after{
	content: "";
	display: block;
	position: absolute;
	bottom: -40px;
	border-top: 40px solid #007AC3;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	z-index: -999;
}

.ans2 .borderimg{
	width: 120px;
	height: 60px;
	position: absolute;
	top: 30%;
	left: 0%;
	background:#007AC3;
	z-index: -999;
}

.ans2 .borderimg:before{
	content: "";
	display: block;
	position: absolute;
	top: -40px;
	border-bottom: 40px solid #007AC3;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	z-index: -999;
}
.ans2 .borderimg:after{
	content: "";
	display: block;
	position: absolute;
	bottom: -40px;
	border-top: 40px solid #007AC3;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	z-index: -999;
}

.ans3 .borderimg{
	width: 120px;
	height: 60px;
	position: absolute;
	top: 30%;
	left: 0%;
	background:#007AC3;
	z-index: -999;
}

.ans3 .borderimg:before{
	content: "";
	display: block;
	position: absolute;
	top: -40px;
	border-bottom: 40px solid #007AC3;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	z-index: -999;
}
.ans3 .borderimg:after{
	content: "";
	display: block;
	position: absolute;
	bottom: -40px;
	border-top: 40px solid #007AC3;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	z-index: -999;
}

.borderimg i {
	font-size: 60px;
	color: #fff;
	margin-left: 25px;
}

.answer .po{
	color: #007AC3;
	font-weight: 900;
	position: absolute;
	left: 40%;
}

.answer p{
	display:block;
	padding-top: 30px;
	position: absolute;
	left: 40%;
	cursor: pointer;
}

.answer p:hover{
	text-decoration: underline;
}

.banner{
	width: 100%;
	height: 200px;
	/*border: 1px solid red;*/
	position: relative;

}
.banner .ban1{
	width: 50%;
	height: 100%;
	background: url(pi1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}
.banner .ban1 p {
	color: #fff;
	text-align: left;
	padding-top: 30px;
	font-weight: 600;
	margin-left: 300px;
}
.banner .ban2 p {
	color: #fff;
	text-align: left;
	margin-left: 100px;
	padding-top: 30px;
	font-weight: 600;
}

.banner .ban1 .nn:hover, .ban2 .nn:hover{
	text-decoration: underline;
}

.banner .ba{
	color: #fff;
	font-size: 1.5em;
	font-weight: 600;
}

.banner .ban2{
	width: 50%;
	height: 100%;
	background: url(pi2.jpg) no-repeat;
	background-size: cover;
	background-position:top;
	float: left;
}
.banner .bann{
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
}

.list{
	width: 100%;
	height: 400px;
	background: #f1f1f1;
	/*border: 1px solid red;*/
	position: relative;
}

.listbox{
	width: 1050px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}

.list .listbox li {
	list-style: none;
	font-weight: 900;
}

.list .listbox .listtype1,.listtype2,.listtype3,.listtype4  {
	width: 200px;
	height: 300px;
	display: inline-block;
	float: left;
	padding-top: 50px;
}

.list .listbox .set {
	margin-top: 30px;
	line-height: 30px;
	font-size: 0.9em;
}
.list .listbox .set li a{
	color: #666;
}

.list .listbox .lia a{
	display: block;
	width: 230px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 10%;
	right: 0%;
	text-align: center;
	background: #fff;
	color: #444;
	font-size: 0.9em;
	font-weight: 600;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.list .listbox .liaa a{
	display: block;
	width: 230px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 20%;
	right: 0%;
	text-align: center;
	background: #fff;
	margin-top: 10px;
	color: #444;
	font-size: 0.9em;
	font-weight: 600;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.footbox{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.foota{
	width: 1100px;
	margin: 0 auto;
}

.foota a{
	display: inline-block;
	padding:0 20px;
	font-size: 12px;
	border-right: 1px solid #eee;
	vertical-align: middle;
}

.foota .face{
	margin-left: 10px;
	margin-bottom: 15px;
	/*border: 1px solid red;*/
	display: inline-block;
}
.foota .face i{
	font-size: 35px;
	margin-left: 10px;
	color: #666;
	line-height: 55px;
	cursor: pointer;
}

.foota .face2{
	margin-left: 30px;
}
.foota .face2:hover{
	text-decoration: underline;
}

.foota .face2 button{
	margin-left: 20px;
	border: none;
	outline: none;
	padding: 10px 25px;
	background: #fff;
	font-size: 20px;
	cursor: pointer;
}

.footlast{
	width: 1100px;
	height: 150px;
	margin: 0 auto;
}
.footlast .icon{
	/*border: 1px solid red;*/
	width: 210px;
	float: left;
	margin-top: 30px;
}

.footlast .ceo{
	/*border: 1px solid red;*/
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}
.footlast .ceo span{
	/*border: 1px solid red;*/
	font-size: 12px;
	font-weight: 600;
	color:#999;
}
.footlast .ceo p{
	font-size: 13px;
	font-weight: 900;
	color:#666;
	margin-top: 10px;
}

.logo{
	/*clear: both;*/
	float: right;
	/*border: 1px solid red;*/
	margin-top: 30px;
}

@media(max-width: 1920px){
	#wrapper{
		width: 1920px;
		margin: 0 auto;
	}
}